/**
set font and some default atterbutes
*/
* {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing: border-box;
}

/**
for body
set background image
be responsive {position: relative}
*/
body{
    content: "";
    background: url("morf.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    font-family: 'Tahoma', sans-serif;
    min-height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: relative;
    z-index: -1;
    display: flex;
  }

/**
for error box
set it on top of page {position: absolute}
*/
.error {
    border-radius: 20px;
    background-color: rgba(250, 45, 148, 0.411);
    box-shadow: 0 0 50px rgba(110, 18, 18, 0.4);
    opacity: 0.94;
    display: flex;
    position: absolute;
    top: 10px;  
}

/**
for main box in center
display flex mode and is responsive
*/
.flex-container {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-color: rgb(182, 176, 235);
    box-shadow: 0 0 50px rgba(32, 18, 110, 0.4);
    opacity: 0.85;
    padding: 1.5rem 0rem 1.6rem 0rem;
    display: flex;
}
/**
for two div in in main box seprate vertically (left and right)
display flex mode and is responsive
*/
.flex-item-left {
    padding: 50px;
}

/**
for save box with dashed border
*/
.saved-answer {
    padding: 3px;
    border: 2px dashed rgba(68, 67, 67, 0.719);
}

/**
for input text area
*/
input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/**
for input button
*/
button {
    padding:5px 15px; 
    margin: 5px;
    background:rgb(174, 248, 159); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    border: 2px solid rgba(208, 250, 195, 0.719);
}